* {
    background-color: black;
    color: white;
}
div .nav{
    align-content: center;
}
.nav {
    border: 2px solid white;
    margin: 0 101px;
    padding: 0 10px;
    border-radius: 15px;
    width: 75vw;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    cursor: pointer;
    position: sticky;
    /* justify-content:left; */
    /* gap: 5px; */
    /* box-sizing: border-box; */
}
.nav ul {
    display: flex;
    /* justify-content:flex-start;
    align-content:flex-start; */
}
.nav ul li {
    list-style: none;
    margin: 0 23px;
    justify-content:flex-start;
    align-items:flex-start;
}
.nav ul li a:hover{
color: rgb(31, 108, 68);
font-size: 1.04rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    margin-left: 70px;
}

.leftSection {
    color: rgb(231, 229, 226);
    font-size: 3rem;
    margin: 25px 0 ;
    margin-right:150px ;
   
}

.leftSection1 {

    display: flex;
    justify-items: left;
    font-size: 15px;
}
.leftSection .btn {
    padding: 8px;
    border: 2px solid grey;
    color: rgb(23, 24, 25);
    background-color: white;
    cursor: pointer;
    border-radius: 7px;
}

 .rightSection img {
    height: 350px;
    width: 350px;
    display: flex;
    border-radius: 100px;
   
    justify-content: end;
}

.color {
    color: rgb(137, 161, 48);
}

.rightSection {
    border: 7px solid rgb(221, 231, 208);
    border-radius: 110px;
    /* background-color: brown; */
    margin: 30px 0;
    margin-right: 90px;
    color: rgb(231, 229, 226);
   
    height: 350px;
    width: 350px;
}
#element{
    color:rgb(34, 117, 161);
}
