body {
    background-color: black;
    color: white;
}
/* div .nav{
    align-content: center;
} */

.nav {
    /* border: 2px solid white; */
    box-shadow: 1px 1px 20px white;
    margin: 0 101px;
    margin-left: 270px;
    padding: 0px 10px;
    color: white;
    border-radius: 15px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:flex-start;
    /* align-items:flex-start; */
    cursor: pointer;
    


    /* justify-content:left; */
    /* gap: 5px; */
    /* box-sizing: border-box; */
}
.nav{
    position: relative;
    position: sticky;
    top:0;
   
}
.nav ul {
    display: flex;
    /* justify-content:flex-start;
    align-content:flex-start; */
}
.nav ul li {
    color: white;
    list-style: none;
    margin: 0 23px;
    justify-content:flex-start;
    align-items:flex-start;
}
.nav ul li a:hover{
color:rgb(34, 117, 161);
font-size: 1.04rem;
}

.firstSection {
    background-color: rgb(23, 24, 23);
    border-radius: 50px;
    box-shadow: 1px 1px 20px white;
    display: flex;
    padding: 100px;
    justify-content: space-around;
    margin: 70px 0;
    margin-left: 70px;
    margin-right: 80px;
}

.leftSection {
    color: rgb(231, 229, 226);
    font-size: 3rem;
    margin: 25px 0 ;
    margin-right:150px ;
   
}

.leftSection1 {

    display: flex;
    justify-items: left;
    font-size: 15px;
}
.leftSection .btn {
    padding: 12px;
    border: 2px solid grey;
    color: rgb(236, 241, 246);
    background-color: rgb(22, 25, 86);
    cursor: pointer;
    border-radius: 7px;
}
 .rightSection img {
    height: 350px;
    width: 350px;
    display: flex;
    border-radius: 360px;
   
    justify-content: end;
}
.button ul{
list-style: none;
display: flex;
}
.button ul li{
    font-size: 23px;
    list-style: none;
    display: flex;
   justify-content:space-around;
   ;
    }
    .section hr{
        border: 0;
        height: 1.2px;
      
        margin:40px 84px ;
    }
    .icons{
        justify-content: space-around;
    }
.color {
    color: rgb(137, 161, 48);
}

.rightSection {
    border: 7px solid rgb(47, 47, 213);
    border-radius: 360px;
    /* background-color: brown; */
    margin: 30px 0;
    margin-right: 90px;
    color: rgb(231, 229, 226);
   
    height: 350px;
    width: 350px;
}
#element{
    color:rgb(34, 117, 161);
}
/* .tools{
    display: flex;
    row-gap: 2px;
    justify-content: flex-start;
} */
 .button2{
    border: 2px solid black;
    border-radius: 50px;
    margin: 50px;
    margin-left: 520px;
    padding: 25px;
    height: 60px;
    width: 190px;
    background-color: rgb(208, 213, 213);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
.secondSection{
    background-color: rgb(23, 24, 23);
    box-shadow: 1px 1px 20px white;
    padding: 0;
    margin: 0;
    margin-left:20px;
    /* margin-left:10px ; */
    /* border: 2px solid white; */
    border-radius: 30px;
    /* background-color: rgba(64, 62, 62, 0.295); */
    height: 600px;
    width: 1200px;
}

.secondSection2{
    display:grid;
    grid-template-areas: 
               "side side content content";

}
aside{
    grid-area: side;
  
}
article{
    grid-area:content ;
    
}
.secondSection2 .box1{
    border: 5px solid rgb(47, 47, 213);
    border-radius:28px ;
    margin: 30px;
    padding:0;
    height: 500px;
    width: 400px;
}
.secondSection2 img{
    margin: 0px;
    border-radius: 23px;
    display: flex;
    justify-content: flex-start;
    padding:o;
    margin-left: 1px;
height: 500px;
width: 400px;
}
.secondSection2 .box2{
    
    border-radius:28px ;
    font-size: 15px;
    line-height: 25px;
    margin: 10px;
    padding:0;
    height: 500px;
    width: 700px;
}
.thirdSection{
    border: 2px solid white;
    background-color: rgb(23, 24, 23);
    box-shadow: 1px 1px 20px white;
    color:rgb(252, 249, 249);
    height: 550px;
    font-size: 13px;
    line-height: 12px;
    margin-left: 300px;
    text-align: center;
    border-radius: 40px;
    width:700px;
}
.thirdSection h1{
 font-size: 43px;
}
.thirdSection .box1{
    position: relative;
    
    margin: 25px;
    margin-top: 190px;
    padding:20px ;
    /* justify-content: space-evenly; */
height: 25px;
width: 130px;
}
.thirdSection img{
    border: 2px solid white;
    border-radius: 5px;
    background-color: aqua;
    display: inline-flex;
    background: transparent;
    justify-content: flex-start;
    align-items: flex-start;
}
.button3{
    position: absolute;
    position:relative;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    color: white;
    height:21px;
    width: 105px;
    padding: 8px;
    padding-bottom: 10px;
    margin-right: 400px;
    margin-left: 45px;
    border-radius: 20px;
    /* text-decoration: none; */
}
.button4{
    padding: 10px;
    justify-content: space-around;
    column-gap: px;
    margin-right: 500px;
    margin-left: 2px;
    border-radius: 20px;
}
.button4 img{
    gap: 20px;
}
.pp img{
    border-radius: 360px;
    height: 360px;
    width: 360px;

}
.button5 img{
    border: 3px solid rgb(47, 47, 213);
    position: relative;
    height: 360px;
    border-radius: 360px;
    width:360px;
    margin-left: 300px;
    margin-top:-350px;
}

/* .button4 :nth-last-child(1){
    height: 60px;
    width: 60px;
} */
/* .thirdSection div img{
    justify-content: flex-start;
    align-items:self-start;
    height: 30px;
    width: 30px;
} */
 .button6{
    position: relative;
    padding: 30px;
     color:rgb(17, 17, 239);
    align-items: center;
    justify-content: center;
    margin-left: 500px;
    font-size: 25px;
 }
 .edu{
   margin-left: 90px;
 }
 .fifthSection{
    padding: 0px 30px;
    border-left: 2px solid white;
 }
 .fifthSection{
    padding-right: calc(10% - 30px);
    
 }
 .fifthSection .button7{
    position: relative;
    padding: 20px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(23, 24, 23);
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 10px;
 }
 .fifthSection .button7:hover{
box-shadow: 0px 3px 12px 0px rgb(23, 24, 25);
border: 1px solid transparent;
font-size: 1.04rem;
 }
 .fifthSection .button7::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius:50%;
    right: calc(100% + 22px);
    top:84px;
    background-color: rgb(17, 17, 239);
    border: 2px solid white;
 }
 .button7 h3{
    color:rgb(17, 17, 239);
 }
 .button7 p{
    font-size: 13px;
 }
@media(max-width : 768px){
section .fifthSection{
    grid-template-columns: 1fr;
}
}
.button8{
    padding: 23px;
    margin-left: 560px;
    color: rgb(17, 17, 239);
}
.sixthSection{
    display: flex;
   justify-content: center;
   gap:20px;
   align-items: center;
}
.button9{
    align-items: center;
    border: 2px solid white none;
}
.button9:hover{
    background-color:rgb(46, 46, 102);
    padding:05px;
    border-radius: 10px;
    
}
.seventhSection{
   margin-top: 20px;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    row-gap: 34px;
    column-gap: 34px;

}
.button10{
    font-size: 20px;
    text-align:center;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 60px;
    border: 2px solid white;
    height: 55px;
    width: 255px;
}
.button10 img{
    padding-top: 06px;
    height: 43px;
    margin-right: 110px;
}
.button10:hover{

}